<%- include ('../partials/header') %> <%- include ('../partials/navbar') %>

        <head>
            <style>
                .card {
                    position: relative;
                    bottom: -100%;
                    animation: slide-up 0.75s ease-out forwards;
                }

                .circle-wrap {
                    position: relative;
                    bottom: -100%;
                    animation: slide-up 1s ease-out forwards;
                }

                @keyframes slide-up {
                    to {
                        bottom: 0;
                    }
                }

                .star-icon {
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 10px;
                    cursor: pointer;
                }

                .star-icon i {
                    color: 'rgb(33, 37, 41)';
                    text-shadow: 0 0 3px #ffffff;
                }

                .circle-wrap {
                    margin: 20px auto;
                    width: 10vh;
                    height: 10vh;
                    background: #fefcff;
                    border-radius: 50%;
                    border: 1px solid #cdcbd0;
                }

                .circle-wrap .circle .mask,
                .circle-wrap .circle .fill {
                    width: 10vh;
                    height: 10vh;
                    position: absolute;
                    border-radius: 50%;
                }

                .circle-wrap .circle .mask {
                    clip: rect(0px, 10vh, 10vh, 5vh);
                }

                .inside-circle {
                    /* other styles */
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .circle-wrap .inside-circle {
                    width: 8vh;
                    height: 8vh;
                    border-radius: 50%;
                    background: #d2eaf1;
                    line-height: 120px;
                    text-align: center;
                    margin-top: 1vh;
                    margin-left: 1vh;
                    color: #1e51dc;
                    position: absolute;
                    z-index: 100;
                    font-weight: 700;
                    font-size: 1em;
                }

                /* color animation */

                /* 3rd progress bar */
                .mask .fill {
                    clip: rect(0px, 5vh, 10vh, 0px);
                    background-color: #227ded;
                }

                /* .mask.full,
                .circle .fill {
                    animation: fill ease-in-out 3s;
                    transform: rotate(180deg);
                } */

                @keyframes fill {
                    0% {
                        transform: rotate(0deg);
                    }

                    100% {
                        transform: rotate(135deg);
                    }
                }
            </style>
            <link rel="stylesheet" href="../resources/css/style.css">

            <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->

            <title>Home</title>
        </head>

        <body style="padding-bottom: 7rem;">
            <script>
                function toggleStar(name){
                    const starIcon = document.getElementById(`${name}`);
                    const cardStyle = getComputedStyle(starIcon);
                    const currColor = cardStyle.getPropertyValue('color');
                    if (currColor==='rgb(33, 37, 41)'){
                        starIcon.style.color = 'rgb(255, 215, 0)';
                    }
                    else if (currColor==='rgb(255, 215, 0)'){
                        starIcon.style.color = 'rgb(33, 37, 41)';
                    }
                }
            </script>

            <% if (locals.message) { %>
                <div class="container" style="width: 425px; padding: 10px;">
                    <div class="alert alert-<%- locals.error ? 'danger' : 'success' %>" role="alert" style="text-align: center;">
                        <%= message %>
                    </div>
                </div>
            <% } %>
            <section class="jumbotron text-center">
                <div style="padding-bottom: 50px; padding-top: 20px;" class="container">
                    <h1 class="jumbotron-heading-center">Welcome to Buff Traffic!</h1>
                </div>
            </section>
            <% if (locals.favorites){ %>
                <div class="favorites">
                    <p>FAVORITES WILL BE HERE</p>
                </div>
            <% } %>
            <div class="container">
                <div class="container">
                    <div class="row">
                        <% if (rooms){ %>
                            <div class="text-center">
                                <h1>Favorites</h1>
                                <hr>
                            </div>
                            <% rooms.forEach((room) => { %>
                              <% if (room.status == "favorite") { %>
                                <div class="col-sm-4">
                                  <%= generateCard(room.name, room.status, room.avg_traffic); %>
                                </div>
                        <% } else { %>
                        <div class="col-sm-4">
                            <%= generateCard(room.name, room.status, room.avg_traffic); %>
                        </div>
                        <% } }); %>
                                      <% } %>
                    </div>
                </div>
            </div>
            <div class="container">
                <h1>hello world!</h1> 
            </div>

          </body>

          <%  function generateCard(name, status, traffic) { %>
            <% if (traffic == null) {traffic = 0} %>
            <% let photo = getPhoto(name)%>
            <% let traffic_ct = getCapacity(name, traffic)%>
            <% let angle = (traffic_ct/100) * 360 %>

            <div class="card">
                <img src="<%= photo%>" class="card-img-top" alt="Weight Room"onerror="this.onerror=null; this.src='../../resources/img/BT-Icon-v2.png'">
                <div class="star-icon">
                    <% if (status == "favorite"){ %>
                        <i class="fa-solid fa-star" id="<%= name %>" onclick="toggleStar(`<%= name %>`)" style="color: gold"></i>
                    <% } else { %>
                        <i class="fa-solid fa-star" id="<%= name %>" onclick="toggleStar(`<%= name %>`)" ></i>
                    <% } %>
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title"> <%= name %> </h5>
                    <!-- <p class="card-text">The weight room at the rec center is my favorite place to get a
                        good workout</p> -->
                </div>
            </div>
            <div class="circle-wrap">
                <div class="circle">
                    <div class="mask full">
                        <div class="fill" style="transform: rotate(<%= angle%>deg);"></div>
                    </div>
                    <div class="mask half">
                        <div class="fill"></div>
                    </div>
                    <div class="inside-circle"> <%= traffic_ct %>% </div>
                </div>
            </div>

          <%  } %>

          <%  function getCapacity(name, traffic) {

            switch (name) {
              case ('Rec Center Main Weight Room'):
                return ((traffic * 100)/130).toFixed(0);
              case ('Competition Pool'):
                return ((traffic * 100)/175).toFixed(0);
              case ('Climbing Gym'):
                return ((traffic * 100)/60).toFixed(0);
              case ('Buffalo Pool'):
                return ((traffic * 100)/80).toFixed(0);
              case ('Level 1 Stretching/Ab Area'):
                return ((traffic * 100)/35).toFixed(0);
              case ('Squash & Racquetball Courts'):
                return ((traffic * 100)/10).toFixed(0);
              case ('Mat Room'):
                return ((traffic * 100)/40).toFixed(0);
              case ('Cycle Studio'):
                return ((traffic * 100)/20).toFixed(0);
              case ('Turf Gym'):
                return ((traffic * 100)/80).toFixed(0);
              case ('Pool Overlook Cardio'):
                return ((traffic * 100)/50).toFixed(0);
              case ('Mind Body Studio'):
                return ((traffic * 100)/80).toFixed(0);
              case ('Ice Rink'):
                return ((traffic * 100)/80).toFixed(0);
              case ('Will Vill - Main Weight Room'):
                return ((traffic * 100)/60).toFixed(0);
              case ('Dive Well'):
                return ((traffic * 100)/50).toFixed(0);
              case ('Upper Gym'):
                return ((traffic * 100)/485).toFixed(0);
              case ('Lower Gym'):
                return ((traffic * 100)/485).toFixed(0);
              case ('Tennis Court 1'):
                return ((traffic * 100)/4).toFixed(0);
              case ('Tennis Court 2'):
                return ((traffic * 100)/4).toFixed(0);
              case ('Tennis Court 3'):
                return ((traffic * 100)/4).toFixed(0);
              case ('Front Lobby Cardio Equipment'):
                return ((traffic * 100)/20).toFixed(0);
              default:
                return traffic;
            }

            /* missing data for:
            buffalo pool,
            squash/racquetball courts,
            cycle studio,
            Turf Gym
            mind body Studio
            ice Rink
            dive well (online it says capacity is 150...?)
            upper gym (says its ~485? idk that sounds about right...)
            ^ same with lower gym
           'Ping Pong Lounge',
            'Front Lobby Cardio Equipment' (online says its 5 but no way its that low)
            'Studio 1',
           'Studio 2',
            'Studio 3',
             'Studio 4W',
            'Studio 4F',
            '2nd Floor TRX Room',
            '2nd Floor Cardio Balcony',
            '2nd Floor Fitness Studio
            */

          } %>

          <%  function getPhoto(name) {
            //should probably add more photos here
            switch (name) {
              case ('Rec Center Main Weight Room'):
                return "../../resources/img/RecMainWeightRoom.jpg";
              case ('Competition Pool'):
                return "../../resources/img/RecPool.jpg";
              case ('Climbing Gym'):
                return "../../resources/img/RecRockWall.jpg";
              default:
                return "../../resources/img/BT-Icon-v2.png";
            }

            } %>





        <%- include ('../partials/footer') %>
